@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-text: #1e1e1e;
    --color-one: #8261ee;
    --color-two: #ff589e;
    --font: "Raleway", sans-serif;
}

body {
    font-family: var(--font);
    color: var(--color-text);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Buttons */
.button {
    background: gray;
    color: #fff;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 45px;
}

.button-two {
    background: var(--color-two);
    color: #fff;
}

.button-two:hover {
    background: var(--color-one);
    color: #fff;
}

/* End Buttons */
/*Header*/
.header {
    position: fixed;
    width: 100%;
    top: 30px;
    left: 0;
}

.header .inner-main {
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 25px 36px;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-main .inner-logo img {
    height: 30PX;
    width: auto;

}

.header .inner-main .inner-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.header .inner-main .inner-menu ul li {
    margin-left: 20px;
}

.header .inner-main .inner-menu ul li a {
    font-size: 13px;
    color: var(--color-text);
    font-weight: 500;
}

.header .inner-main .inner-menu ul li a:hover {
    color: var(--color-two);
}

/* End Header */
/* Section One */
.section-one {
    background-image: url("../images/banner-bg.png");
    height: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-one .inner-content {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.section-one .inner-content .inner-title {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}

.section-one .inner-content .inner-desc {
    color: #fff;
    margin-bottom: 30px;
}

/* End Section One */
/* Section Two */
.section-two {
    margin-top: -180px;
}

.section-two .inner-box {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
}

.section-two .inner-box .inner-icon {
    background: var(--color-one);
    display: inline-flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.section-two .inner-box:hover .inner-icon {
    background: var(--color-two);
}

.section-two .inner-icon img {
    padding: 20px;
    width: 100%;
    height: auto;
}

.section-two .inner-box .inner-title{
    font-size: 18px;
    margin-bottom: 20px;
}
.section-two .inner-box .inner-desc{
    font-size: 14px;
}
/* End Section Two */